<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
	<script type="text/javascript" src="/javascripts/canvas_utils.js"></script>
	<script type="text/javascript" src="/javascripts/world_node.js"></script>
	<script type="text/javascript" src="/javascripts/world_grid.js"></script>
	<script type="text/javascript" src="/javascripts/path_dijkstra.js"></script>
	<script type="text/javascript" src="/javascripts/path_astar.js"></script>
	<script type="text/javascript" src="/javascripts/pathing_controller.js"></script>
  </head>
  <body>
	  <div id="menu-top"><%= title %></div>
	  <div id="content-wrapper">
	  <div id="content">
		<canvas id="path-view" width="400" height="400" ></canvas>
	  </div>
	  <div id="settings">
		  <form name="settings">
			  <input type="radio" name="algorithm" value="dijkstra" onclick="set_pathing_algorithm(this.value);" checked>Dijkstra<br>
			  <input type="radio" name="algorithm" value="astar" onclick="set_pathing_algorithm(this.value);">A-Star<br>
			  <br>
			  <div class="form-button-centered">
				<input type="button" name="clear" value="Clear" onclick="do_clear();">
				<input type="button" name="benchmark" value="Benchmark" onclick="do_benchmark();">
			  </div>
		  </form>

		  <p id="path-find-stats" class="stats"></p>
	  </div>
	  </div>
	<script type="text/javascript"> pathing_init(document.getElementById("path-view")); </script>
  </body>
</html>
