body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #00B7FF;
}

#menu-top {
	padding: 5px;
	background: #222222;
	color: #efefef;
	font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
	padding: 15px;
}

#path-view {
	border: 1px solid #000000;
}
